body {
	background-color: aliceblue;
}
div.center {
	margin: auto;
	width: 288px;
}
div.envelope {
	width: 288px;
	display: flex;
}
div.envelope-1, div.envelope-2 {
	border-bottom: 128px solid gray;
	display: inline-block;
	height: 0;
	width: 2px;
}
div.envelope-1 {
	border-right: 144px solid white;
	border-top-left-radius: 3px;
}
div.envelope-2 {
	border-left: 144px solid white;
	border-top-right-radius: 3px;
}
div.envelope-0 {
	border-bottom: 40px solid gray;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	width: 288px;
}
div.carta {
	border: 1px solid #777;
	border-bottom: none;
	margin-left: 8px;
	margin-right: 8px;
	position: relative;
	bottom: -8px;
	background-color: white;
}